#### Anotações para execução

In [ ]:
"""
big number = tempo médio envio
"""

####Configurações iniciais

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [ ]:
spark = SparkSession.builder.getOrCreate()

####Transformation

In [ ]:
df = spark.read.csv('/content/drive/MyDrive/arquivos_colab/Sample - Superstore.csv', header=True)
df.limit(5).toPandas()

In [ ]:
df = df.withColumn('Ship Date', to_date('Ship Date', 'M/d/yyyy'))
df = df.withColumn('Order Date', to_date('Order Date', 'M/d/yyyy'))

df.select('Ship Date', 'Order Date').limit(5).toPandas()

In [ ]:
df = df.withColumn('time_ship_days', datediff('Ship Date','Order Date'))

df.select('time_ship_days').limit(5).toPandas()

In [ ]:
df = df.withColumn('unit_price', round((col('Sales')/col('Quantity')),2))

df.select('unit_price').limit(5).toPandas()

In [ ]:
df = df.withColumn('price_n_discont',
                   round((((col('Sales')/col('Quantity')) / (1- col('Discount')))),2))

df.select('Quantity', 'unit_price', 'price_n_discont' , 'Discount').limit(5).toPandas()

In [ ]:
df = df.withColumn('product_cost',
                   col('unit_price') - (col('Profit') / col('Quantity')))

df.select('product_cost', 'unit_price','price_n_discont',  'Profit', 'Quantity').limit(5).toPandas()

In [ ]:
df = df.withColumn('profit_unit',
                  col('Profit') / col('Quantity'))

df.select('profit_unit','product_cost', 'unit_price','price_n_discont',  'Profit', 'Quantity').limit(5).toPandas()

In [ ]:
df.write.csv('/content/drive/MyDrive/arquivos_colab/superstore_data_transformed.csv',header=True, mode = "overwrite")