####Configurações iniciais

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [ ]:
spark = SparkSession.builder.getOrCreate()

###Leitura e Exploração

In [ ]:
df = spark.read.csv('/content/drive/MyDrive/arquivos_colab/Sample - Superstore.csv', header=True)
df.limit(5).toPandas()

In [ ]:
df.printSchema()

In [ ]:
for c in df.columns:
  print(c, df.filter(df[c].isNull()).count())

In [ ]:
count_rows = df.count()
count_region = df.select('Region').distinct().count()
count_country = df.select('Country').distinct().count()
count_city = df.select('City').distinct().count()
count_product = df.select('Product Name').distinct().count()
count_category = df.select('Category').distinct().count()
count_subcategory = df.select('Sub-Category').distinct().count()
count_client = df.select('Customer Name').distinct().count()
count_client_segment = df.select('segment').distinct().count()

distinct_region = [row['Region'] for row in df.select('Region').distinct().collect()]
distinct_country = [row['Country'] for row in df.select('Country').distinct().collect()]
distinct_city = [row['City'] for row in df.select('City').distinct().collect()]
distinct_product = [row['Product Name'] for row in df.select('Product Name').distinct().collect()]
distinct_category = [row['Category'] for row in df.select('Category').distinct().collect()]
distinct_subcategory = [row['Sub-Category'] for row in df.select('Sub-Category').distinct().collect()]
distinct_client = [row['Customer Name'] for row in df.select('Customer Name').distinct().collect()]
distinct_client_segment = [row['Segment'] for row in df.select('Segment').distinct().collect()]

print(f"rows: {count_rows}"
      f"\nregions: {count_region} ({', '.join(distinct_region)})"
      f"\ncountry: {count_country} ({', '.join(distinct_country)})"
      f"\ncity: {count_city}"
      f"\nproduct: {count_product}"
      f"\ncategory: {count_category} ({', '.join(distinct_category)})"
      f"\nsub category: {count_subcategory}"
      f"\nclients: {count_client}"
      f"\nclients segments: {count_client_segment} ({', '.join(distinct_client_segment)})"
     )

In [ ]:
print(',\n'.join(distinct_subcategory))

In [ ]:
visu_qtd_sale = df.filter(col('Product Name') == 'Bush Somerset Collection Bookcase'
         ).select(col('Product Name'),col('Quantity'), col('Sales'))

visu_qtd_sale.toPandas()